body {
    font-family: Arial, sans-serif;
}

input, textarea {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
    display: block;
}

.error {
    color: red;
    display: none;
    margin-left: 10px;
}

input.invalid, textarea.invalid {
    border: 2px solid red;
}
